#! /bin/sh

PID_PATH="/var/run/wsl-vpnkit.pid"
LOG_PATH="/var/log/wsl-vpnkit.log"

ret=0

start() {
    # using `wsl.exe` allows the daemon to keep running in the background even when you close your terminal
    wsl.exe \
        --user root \
        --distribution $WSL_DISTRO_NAME \
        -- \
            sh -c "\
            start-stop-daemon \
                --pidfile $PID_PATH \
                --make-pidfile \
                --background \
                --stdout $LOG_PATH \
                --stderr $LOG_PATH \
                --exec wsl-vpnkit \
                --start
            "
    ret=$?
}

status() {
    start-stop-daemon \
        --pidfile $PID_PATH \
        --status
    ret=$?
    echo "status is $ret"
}

stop() {
    start-stop-daemon \
        --pidfile $PID_PATH \
        --stop
    ret=$?
}

case "$1" in
    start)
        start
        ;;
    status)
        status
        ;;
    stop)
        stop
        ;;
    *)
        echo "Usage: wsl-vpnkit {start|status|stop}"
        exit 1
esac

exit $ret
