#! /bin/sh

EXECUTABLE="wsl-vpnkit"                 # starting point
SUB_PROCESS1="wsl-vm"                   # forked sub processes
SUB_PROCESS2="wsl-gvproxy"              # forked sub processes
PID_PATH="/var/run/$EXECUTABLE.pid"
LOG_PATH="/var/log/$EXECUTABLE.log"

ret=0

_debug_check() {
    if [ -n "$DEBUG" ]; then
        set -x
        test -f $PID_PATH && cat $PID_PATH
        ps
    fi
}

start() {
    _debug_check >&2
    ret=1
    status >/dev/null && {
        echo "wsl-vpnkit is already running"
    } || {
        nohup $EXECUTABLE >$LOG_PATH 2>&1 &
        echo $! > $PID_PATH
        sleep 1
        status
        ret=$?
    }
    return $ret
}

stop() {
    _debug_check >&2
    if [ -f $PID_PATH ]; then
        kill -15 $(cat $PID_PATH)
        rm $PID_PATH
        # kill sub processes if still running
        for subp in $SUB_PROCESS1 $SUB_PROCESS2; do
            while pgrep -a $subp >/dev/null; do pkill -9 $subp; sleep 0.1; done
        done
        ${DEBUG+ps} >&2
    fi
    ret=0
    return $ret
}

status() {
    _debug_check >&2
    test -f $PID_PATH && pgrep -P $(cat $PID_PATH) &>/dev/null
    ret=$?
    if [ $ret = 0 ]; then
        echo Service $EXECUTABLE is running
    else
        echo Service $EXECUTABLE is not running
    fi
    return $ret
}

restart() {
    stop
    start
    ret=$?
}

case "$1" in
    start)
        start
        ;;
    stop)
        stop
        ;;
    restart)
        restart
        ;;
    status)
        status
        ;;
    *)
        echo "Usage: $EXECUTABLE {start|stop|restart|status}"
        ret=1
esac

exit $ret
